<div class="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [fill]="chartOptions.fill"
      [stroke]="chartOptions.stroke"
      [legend]="chartOptions.legend"
      [responsive]="chartOptions.responsive"
      [yaxis]="chartOptions.yaxis"
      [colors]="chartOptions.colors"
      [labels]="chartOptions.labels"
      [xaxis]="chartOptions.xaxis"
    ></apx-chart>
  </div><br>
  <div class="maturityLevel">Maturity Score: <b>{{dataService.maturity}}</b></div><br>
  <mat-progress-bar [value]="dataService.maturityLevel/(dataService.maturityLevels.length-1)*100"></mat-progress-bar>
